<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.davoe.karoosentinel">

    <!-- Permisos para Bluetooth/BLE y red -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Karoo Sentinel"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Actividad principal requerida para salir del estado "stopped" -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SirenActivity"
            android:exported="false"
            android:showOnLockScreen="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- Declaración del servicio de la extensión -->
        <service
            android:name=".SentinelExtension"
            android:exported="true">
            <intent-filter>
                <action android:name="io.hammerhead.karooext.KAROO_EXTENSION" />
            </intent-filter>
            <meta-data
                android:name="io.hammerhead.karooext.EXTENSION_INFO"
                android:resource="@xml/karoo_extension" />
        </service>

    </application>
</manifest>
